# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: pytest

on:
  # Trigger the workflow on push to main or any pull request
  push:
    branches: ["main", "develop"]
  pull_request:
    types: ["opened", "synchronize"]

jobs:
  main:
    strategy:
      matrix:
        platform: ["ubuntu-latest", "windows-latest"]
        python-version: ["3.10", "3.11"]
        pytest_marker:
          - null
          - "metrics_bertscore"
          - "metrics_bleurt"
          - "metrics_xcometlite"
          - "metrics_metricx24"
          - "metrics_metricx23"
          - "metrics_metricx23qe"
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set up Python ${{ matrix.python-version }}
      run: uv python install
    - name: Install the project
      run: uv sync --all-extras --dev
    - name: Test with pytest
      run: |
        uv run huggingface-cli login --token ${{ secrets.HUGGINGFACE_TOKEN }}
        uv run pytest ${{ matrix.pytest_marker && format('-m {0}', matrix.pytest_marker) || '' }}
